@import '../../styles/variables';

.menu-details {
  .wrapped-items {
    padding: 0 16px;
  }

  h1 {
    margin-bottom: 10px;
  }

  h2 {
    margin-bottom: 8px;
  }

  .description {
    color: $text-secondary;
  }

  .picture-area {
    height: 153px;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: auto;
    margin: 29px 0;
    padding-left: 16px;
    margin-bottom: 4px;

    .picture-item {
      @include picture-item(160px);

      position: relative;

      .picture-item--tag {
        background-color: $brand-accent;
        text-align: center;
        padding-top: 2px;
        border-radius: 24px;
        height: 24px;
        width: 36px;
        position: absolute;
        top: 7px;
        right: 8px;
      }
    }
  }

  .picture-tag-info {
    @include tiny-regular-font();

    background-color: $brand-accent;
    border-radius: 24px;
    height: 24px;
    width: 165px;
    margin-bottom: 25px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quantity-change {
    border: 1px solid $tag-border;
    border-radius: 30px;
    display: inline-block;

    &--action {
      height: 48px;
      width: 56px;
    }

    &--count {
      @include bold-font();

      display: inline-block;
      height: 48px;
      line-height: 48px;
      vertical-align: top;
      width: 20px;
      text-align: center;
    }
  }

  .special-instructions {
    padding: 8px;
    border: 1px solid $tag-border;
    margin-top: 16px;
    width: 100%;
    max-width: 327px;
    border-radius: 8px;
    height: 48px;
  }
}
