@import '../../styles/variables';

.header {
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  padding: 0 24px;
  width: 100%;
  align-items: center;

  img {
    max-height: 48px;
  }

  .spacer {
    width: 24px;
  }

  .cart-wrapper {
    position: relative;

    .cart-count {
      @include tiny-regular-font();

      color: white;
      background-color: $brand-primary;
      position: absolute;
      top: -10px;
      right: -10px;
      padding: 2px 5px;
      border-radius: 16px;
    }
  }
}
