@import '../../styles/variables';

.photo-wall {
  margin: 0 16px;

  h1 {
    margin-bottom: 40px;
  }

  .picture-area-wrapper {
    height: calc(100vh - 420px);
    min-height: 164px;
  }

  .filter {
    margin-bottom: 24px;

    &--label {
      display: flex;

      &--heading {
        @include medium-font();

        flex: 1;
      }

      &--clear {
        @include medium-font();
        color: $brand-primary;
        flex: 0 0 200px;
        text-align: right;
        padding: 0 16px;
      }
    }

    &--tags {
      margin-top: 12px;
      overflow-x: auto;
      display: flex;
      gap: 12px;
      padding-bottom: 16px;

      .tag-item {
        padding: 8px 16px;
        background-color: $tag-background;
        border-radius: 32px;
        white-space: nowrap;
        cursor: pointer;

        &.selected {
          background-color: $brand-secondary;
          color: $brand-primary;
        }
      }
    }
  }
}
